html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
.mantine-InputWrapper-error {
  min-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: block;
}
